.logo {
    height: 100px;
    width: 100px;
}

.container-fluid {
    border-bottom: 1px solid black;
}

.card-text {
    font-size: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin:20px;
}


.about {
    display: flex;
    flex-direction: column;
}


.promo-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.add-button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.add-button:hover {
    background-color: #000;
}

.add-cart {
    background-color: #ff6600;
    color: #fff;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px;
}

.add-cart:hover {
    background-color: #000;
}




.container{
    display: flex;
    align-items: center;
}
.small-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 10px;
}

.menu-item {
    text-align: center;
}

.menu-item img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 5px;
}